@charset "UTF-8";

div#wrap {
    width: 200px;
    border: 1px solid #000;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

div#form {
    display: flex;
}

div#inputBox {
    line-height: 30px;
    flex: 1;
}

span {
    width: 50px;
}

.in>label>input {
    width: 50px;
    margin: 2px;
    padding: 3px;
    transform: translateY(-2px);
}

div#bnt {
    margin-top: 3px;
}

button {
    width: 80px;
    height: 120px;
    cursor: pointer;
    /* padding: 5px; */
    /* transform: translateY(-9px); */
}